[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-gitlab = "*"
codeowners = "*"
jinja2 = "*"
jira = "*"

[dev-packages]

[requires]
python_version = "3.7"
